<h1 class="student_lists_title">Your Student Lists</h1>
<div class="cards_container">
  <% @student_lists.each do |list| %>
    <%= link_to student_list_path(list.id) do %>
      <div class="card">
        <div class="card_content">
          <div class="card_banner"></div>
          <div class="card_text">
            <div class="card_header">
              <h3><strong><%= list.list_name %></strong></h3>
            </div>
            <div class="card_description">
              <p><%= list.description %></p>
              <p>Number of students: <%= list.students.count %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to "New List", new_student_list_path, class:"btn btn-success" %>
