<h1 class="student_lists_title">Your Student Lists</h1>
<div class="cards_container">
  <% @student_lists.each do |list| %>
    <div class="card" data-controller="list" data-action="click->list#show" data-id=<%= list.id %>>
      <div class="card_content">
        <div class="card_banner"></div>
        <div class="card_text">
          <div class="card_header">
            <h3><strong><%= list.list_name %></strong></h3>
          </div>
          <div class="card_description">
            <p><%= list.description %></p>
            <p>Number of students: <%= list.students.count %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "New List", new_student_list_path, class:"btn btn-success" %>
