<nav class = "nav-bar">
  <div class="banner">
    <!-- <a href="/home" class="logo"><img src="/images/TravelBlog_logo/logo_transparent.png" alt=""></a> -->
    <div class="nav-elements">
      <% if user_signed_in? %>
        <div class="navbar-links">
          <%= link_to "Home", root_path  %>
          <%= link_to "Lists", student_lists_path %>
          <%= link_to "Games", games_path %>
        </div>
        <div class="profile">
          <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %>
          <%= image_tag "default_user.png", class: "avatar" %>
        </div>
      <% else %>
        <div class="navbar-links">
          <%= link_to "Home", root_path  %>
        </div>
        <div class="profile">
          <%= link_to "Login", new_user_session_path %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
