<div id="container">
  <div class="map-background">
    <%# <svg>
      <filter id="turbulence" x="0" y="0" width="100%" height="50%">
        <feTurbulence id="waves" numOctaves="1" seed="1" baseFrequency="0.02 1"></feTurbulence>
        <feDisplacementMap scale="500" in="SourceGraphic"> </feDisplacementMap>
        <animate xlink:href = "#waves" attributeName="baseFrequency" dur="60s"
          keyTime="0;0.5;1" values="0.02 0.06; 0.04 0.08; 0.02 0.06" repeatCount="indefinite"></animate>
      </filter>
    </svg> %>
  </div>
  <div class="games-container" data-controller = "new_game cloud">
    <%= render "/partials/new_game" %>
    <%= render "/partials/load" %>
    <% for i in 1..100 do %>
      <% position = random_cloud %>
      <div class="cloud" first-animation="true" style= "top:<%= position[0] %>svh; left:<%= position[1] %>svw" ></div>
    <% end %>
    <%= show_svg('JapanBoardIndex.svg') %>
    <% if user_signed_in? %>
      <div class="game-buttons">
        <button id = "new-button" class = "game-button" data-action = "click->new_game#displayForm">New</button>
        <button id = "load-button" class="game-button" data-controller="load" data-action="click->load#load">Load</button>
      </div>
    <% end %>
  </div>
</div>
