<div class="map-container" data-controller="map" data-map-game-value="<%= @game.to_json %>" >
  <div class="partials" data-controller = "new_game">
    <%= render "/partials/new_game" %>
    <%= render "/partials/load" %>
    <%= render "/partials/error" %>
    <%= render "/partials/save" %>
    <%= render "/partials/options" %>
  </div>
  <% if @game.newGame == true %>
    <div class="background-blur">
      <div class="team-select">
        <h1>Select Teams</h1>
        <div class="colors">
          <div id = "red" class="splatter-select"><%= show_svg("red.svg") %></div>
          <div id = "blue" class="splatter-select"><%= show_svg("blue.svg") %></div>
          <div id = "green" class="splatter-select"><%= show_svg("green.svg") %></div>
          <div id = "purple" class="splatter-select"><%= show_svg("purple.svg") %></div>
          <div id = "oragne" class="splatter-select"><%= show_svg("orange.svg") %></div>
          <div id = "black" class="splatter-select"><%= show_svg("black.svg") %></div>
        </div>
        <button class="game-button" data-controller="teams map" data-action = "click->teams#teamSubmit click->map#firstLoad">Submit</button>
      </div>
    </div>
  <% end %>
  <%= render '/partials/team_select' %>
  <%= show_svg('JapanBoard.svg') %>
  <% if @game.newGame == false %>
    <div class="game-options">
      <button class="save game-button" data-action="click->map#save"><%= I18n.t('buttons.save') %></button>
    </div>
    <%= render '/partials/score_keeper' %>
  <% end %>
</div>
