<div class="container" data-controller="map" data-map-value = <% @game %> >
  <div class="color-select">
    <div id="select">
      <div id = "red" class="splatter"><%= image_tag "red.svg" %></div>
      <div id = "blue" class="splatter"><%= show_svg("../../assets/images/blue.svg") %></div>
      <div id = "green" class="splatter"><%= show_svg("../../assets/images/green.svg") %></div>
      <div id = "purple" class="splatter"><%= show_svg("../../assets/images/purple.svg") %></div>
      <div id = "oragne" class="splatter"><%= show_svg("../../assets/images/orange.svg") %></div>
      <div id = "black" class="splatter"><%= show_svg("../../assets/images/black.svg") %></div>
    </div>
  </div>
  <div class="game-buttons">
    <button class="save" data-action="click->map#save">Save</button>
  </div>
  <%= show_svg('jp-04.svg') %>
</div>
